# Ignorer les fichiers et dossiers de cache Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignorer les environnements virtuels
env/
venv/
.venv/

# Ignorer les fichiers de configuration et de log
*.log
*.ini
*.cfg

# Ignorer les dossiers de sortie
output/
chromedriver-win64/

# Ignorer les fichiers de base de données et de cache
*.sqlite3
*.db
*.dat
*.tmp

# Ignorer les dossiers générés par Jupyter Notebook
.ipynb_checkpoints/

# Ignorer les fichiers de configuration d'IDE (comme VSCode, PyCharm, etc.)
.vscode/
.idea/

# Ignorer les fichiers de sauvegarde de l'éditeur
*~